body{
    font-family: 'Poppins';font-size: 22px;
    padding: 0;
    margin: 0;
    background-color: #97A3A3;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main p{
    width: 487px;
}

