body {
  background-color: #9c2004;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 350px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 190px;
  padding-top: 90px;
  gap: 40px;
  color: #ffff;
}

.img-2{
  padding-bottom: 650px;
}

h1{
  width: 487px;
}

p{
  width: 487px;
  height: 96px;
  size: 24px;
}

button{
  width: 231px;
  border-radius: 36px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 56px;
  padding-left: 56px;
  background-color: #E5B94B;
  gap: 10px;
}

