body {
  background-color: #9c2004;
  margin: 0;
  padding: 0;
}

h1 {
  width: 487px;
  font-weight: 700px;
}

p {
  width: 487px;
}

button {
  padding: 15px;
  width: 125px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #E5B94B;
  color: #080808;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 190px;
  padding-top: 90px;
  gap: 40px;
  color: #ffff;
}
