.header{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 933px;
    margin-left: 50px;
    margin-top: 150px;
    background-color: #FFFF;
}

.botones{
    display: flex;
    justify-content: start;
    gap: 5px;
}

.button-1{
    padding: 15px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 157px;
    size: 50px;
    background-color: #050505;
    color: #FFFF;
}

.button-2{
    padding: 15px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 157px;
    size: 50px;
    background-color: white;
    color: #333333;
}

.lista{
    display: flex;
    flex-direction: row;
    border: black solid;
    border-radius: 24px;
    padding: 24px;
    padding-left: 30px;
    width: 652px;
    size: 118px;
    gap: 80px;
}

.watch{
    display: flex;
    justify-content: center;
    align-items: start;
}

h1{
    width: 629px;
}

p{
    width: 629px;
}